<!DOCTYPE html>
<html>
<head>
    <title>Ynlab | 专注于计算机视觉和智能信息处理
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ request.script_root }}/html/user/static/css/bootstrap.min.css">
{#    <link rel="stylesheet" href="{{ request.script_root }}/html/user/static/css/navbar.less">#}
{#    <link rel="stylesheet" href="{{ request.script_root }}/html/user/static/css/navs.less">#}
{#    <link rel="stylesheet" href="{{ request.script_root }}/html/user/static/css/glyphicons.less">#}

    <link rel="stylesheet" href="{{ request.script_root }}/html/user/static/css/user.css">
    <link rel="stylesheet" href="{{ request.script_root }}/html/user/static/css/theme.css">

    {% block stylesheets %}{% endblock %}

    <script type="text/javascript">
        var script_root = "{{ request.script_root }}";
        var csrf_nonce = "{{ nonce }}";
        var model_box = "";
    </script>
    <script src="{{ request.script_root }}/html/user/static/js/jquery.min.js"></script>
    <script src="{{ request.script_root }}/html/user/static/js/bootstrap.min.js"></script>

</head>
<body>
{#<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">#}
{##}
{#</nav>#}
{#<nav class="site-header sticky-top py-1">#}
{#      <div class="container d-flex flex-column flex-md-row justify-content-between">#}
{#        <a class="py-2" href="index.html">#}
{#          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>#}
{#        </a>#}
{#        <a class="py-2 d-none d-md-inline-block" href="index.html">首页</a>#}
{#        <a class="py-2 d-none d-md-inline-block" href="help.html">帮助</a>#}
{#        <a class="py-2 d-none d-md-inline-block" href="contribute.html">贡献</a>#}
{#        <a class="py-2 d-none d-md-inline-block" href="about.html">关于</a>#}
{#      </div>#}
{#</nav>#}

<nav class="navbar site-header" style="border-radius:0px;" role="navigation">
	<div class="ml-5">
        <div class="navbar-header">
	    </div>
	<div class="navbar-header">
		<a class="navbar-brand" href="/" style="font-size: 20px; margin-top: 10px;">Ynlab</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="/">主页<br/>HOME</a></li>
            <li class="dropdown">
                    <a href="#" class="dropbtn nav-link">最新成果 <b class="caret"></b><span class="ico_down"></span><br/>RECENT WORK</a>

                    <div class="dropdown-content topmost">
                        <a href="/graph">EBuild</a>
                    </div>


            </li>
            <li class="dropdown">
                    <a href="#" class="dropbtn nav-link">论文 <b class="caret"></b><span class="ico_down"></span><br/>PUBLICATIONS</a>

{#                    <div class="dropdown-content topmost">#}
{#                        <a href="#">paper1</a>#}
{#                        <a href="#">paper2</a>#}
{##}
{#                    </div>#}


            </li>
            <li><a href="#">团队<br/>TEAM</a></li>
            <li><a href="#">联系我们<br/>CONTACT US</a></li>
		</ul>

        <p class="navbar-text navbar-right">　　　</p>

        <ul class="nav navbar-nav navbar-right">
            {%if not username %}
                <li><a id="register" href="#">注册<br/>REGISTER</a></li>
                <li class="d-none"><a style="padding-left: 5px; padding-right: 5px;">|<br/>|</a></li>
            {% endif %}
            {%if username %}

                {%if admin %}
                    <li><a id="admin" href="/admin">后台<br/>ADMIN</a></li>
                {% endif %}

                <li class="dropdown">

                    <a href="#" class="dropbtn nav-link">{% if admin %}管理员{% else %}用户{% endif %}<br/>{{ username }} <b class="caret"></b><span class="ico_down"></span></a>

                    <div class="dropdown-content topmost">
                        <a href="#">我的主页</a>
                        <a href="#">积分</a>
                        <a href="#">设置</a>
                        <a href="/logout">退出</a>

                    </div>

                </li>
            {% else %}
                <li><a id="login" href="#">登录<br/>LOGIN</a></li>
            {% endif %}

		</ul>
	</div>
	</div>
</nav>


<main role="main">

<div class="modal fade" id="registerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span style="font-size:20px;">Ynlab</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <h4 class="modal-title">注册</h4>
                <br/>
{#                col-sm-offset-2 col-sm-8" style="margin-top: 40px;"#}
                <div class="site-login" style="margin-left:20%; width: 60%;">
                    <div class="showerror">

                    </div>
{#                    <form id="login-form" class="form-signin" style="margin-left:20%; width: 60%;" action="/register" method="post">#}
                        <input type="hidden" name="nonce"
                               value="{{ nonce }}">
                        <div class="form-group field-loginform-username required">
                            <div class="input-group"><span class="input-group-addon"><i
                                    class="glyphicon glyphicon-user"></i></span><input
                                    type="text" id="loginform-username" class="form-control" name="reg_username"
                                    placeholder="用户名" aria-required="true"></div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group field-loginform-email required">
                            <div class="input-group"><span class="input-group-addon"><i
                                    class="glyphicon glyphicon-envelope"></i></span><input
                                    type="text" id="loginform-email" class="form-control" name="reg_email"
                                    placeholder="邮箱" aria-required="true"></div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group field-loginform-password required">
                            <div class="input-group"><span class="input-group-addon"><i
                                    class="glyphicon glyphicon-lock"></i></span><input
                                    type="password" id="loginform-password" class="form-control" name="reg_password"
                                    placeholder="密码" aria-required="true"></div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary" name="login-button" onclick="register();">注册</a>
                        </div>

{#                    </form>#}
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span style="font-size:20px;">Ynlab</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <h4 class="modal-title">登录</h4>
                <br/>
{#                col-sm-offset-2 col-sm-8" style="margin-top: 40px;"#}
                <div class="site-login" style="margin-left:20%; width: 60%;">
{#                    <form id="login-form" class="form-signin" style="margin-left:20%; width: 60%;" action="/login" method="post">#}
                        <div class="showerror">

                        </div>
                        <input type="hidden" name="nonce"
                               value="{{ nonce }}">
                        <div class="form-group field-loginform-username required">
                            <div class="input-group"><span class="input-group-addon"><i
                                    class="glyphicon glyphicon-user"></i></span><input
                                    type="text" id="loginform-username" class="form-control" name="login_username"
                                    placeholder="用户名或邮箱" aria-required="true"></div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group field-loginform-password required">
                            <div class="input-group"><span class="input-group-addon"><i
                                    class="glyphicon glyphicon-lock"></i></span><input
                                    type="password" id="loginform-password" class="form-control" name="login_password"
                                    placeholder="密码" aria-required="true"></div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group field-loginform-rememberme">
                            <div class="checkbox">
                                <label for="loginform-rememberme">
                                    <input type="checkbox"
                                           id="loginform-rememberme"
                                           name="rememberMe"
                                           value="1" checked="">
                                    保持登录状态
                                </label>
                                <p class="help-block help-block-error"></p>

                            </div>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary" name="login-button" onclick="login();">登录</a>
                            <a class="pull-right" href="/site/request-password-reset">忘记密码</a></div>

{#                    </form>#}
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    {% block content %}
    {% endblock %}
</main>

<footer class="footer pt-2">
    <div class="container text-center">
        <a href="mailto:xuhaoyu@tju.edu.cn">
            <small class="text-muted">Copyright © 2020 xuhaoyu@tju.edu.cn All Rights Reserved.</small><br></a>

    </div>
</footer>


<!-- /scripts -->
<script type="text/javascript">
$(function () {
    {%if login %}
        $('#loginModal').modal('show');
        model_box = "login";
    {% endif %}

    $("#login").click(function () {
        model_box = "login";
        $('#loginModal').modal('show') //显示模态框
    });

    $("#register").click(function () {
        model_box = "register";
        $('#registerModal').modal('show') //显示模态框
    });

    $(document).keydown(function (event){
        if (event.keyCode == 13) {
          {#$('#Submit').triggerHandler('click');#}
            if(model_box=="login"){
                login();
            }else if(model_box=="register"){
                register();
            }
        }
    });
});

function showerror(msg) {
    $('.showerror').empty();
    $('.showerror').hide();
    $('.showerror').append('<div class="alert alert-danger alert-dismissable" role="alert">' +
            '<span class="sr-only">Error:</span>'+
            msg +
            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span'+
                   ' aria-hidden="true">×</span></button></div>');
    $('.showerror').fadeIn();
    setTimeout(function () {
            $('.showerror').fadeOut();
        }, 2500);
}

function register(){

    const username = $(" input[ name='reg_username' ] ").val();
    const email = $(" input[ name='reg_email' ] ").val();
    const password = $(" input[ name='reg_password' ] ").val();


    if (username.length==0){
        showerror('用户名不能为空');
        return;
    }
    if (email.length==0){
        showerror('邮箱不能为空');
        return;
    }
    if (password.length==0){
        showerror('密码不能为空');
        return;
    }

    $('.showerror').empty();

    $.post(script_root + '/register', {
        'username': username,
        'email': email,
        'password': password,
        'nonce': $(" input[ name='nonce' ] ").val(),
    }, function (data) {
        //document.location.href = "/team";
        if (data.length==0) {
            document.location.href = "/"
        }
        else {
           showerror(data[0]);
           return;
        }

    });

}

function login(){

    const username = $(" input[ name='login_username' ] ").val();
    const password = $(" input[ name='login_password' ] ").val();


    if (username.length==0){
        showerror('用户名不能为空');
        return;
    }
    if (password.length==0){
        showerror('密码不能为空');
        return;
    }

    $('#showerror').empty();

    $.post(script_root + '/login', {
        'username': username,
        'password': password,
        'nonce': $(" input[ name='nonce' ] ").val(),
    }, function (data) {
        //document.location.href = "/team";
        if (data.length==0) {
            {% if url %}
                document.location.href = "{{ url }}";
            {% else %}
                document.location.href = "/";
            {% endif %}
        }
        else {
           showerror(data[0]);
           return;
        }

    });

}
</script>
<!-- /scripts -->

{% block scripts %}
{% endblock %}

</body>
</html>
