{% extends "base.html" %}

{% block content %}

    {% for jsfile_name in script_list %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}

    <div class="container">
    {{ myechart|safe }}
    <br/>
    <a href="/projects/ebuild/docs" style="margin-left: 5px;" class="btn btn-primary">查看文档</a>
    <button id="update" style="margin-left: 5px;" class="btn btn-primary">更新数据</button>
    </div>

{% endblock %}



{% block scripts %}
<script type="text/javascript">
$(function () {

    $("#update").click(function () {
        $.get('/g', function (data) {
            var option=data;

            myChart_{{ chart_id }}.setOption(option);

        });
    });

});
</script>


{% endblock %}