<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1>我的第一个 Bootstrap 页面</h1>
    <p>重置窗口大小，查看响应式效果！</p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>第一列</h3>
      <p>排版样例文字，文字样例！</p>
      <p>格式模板，排版文字格式模板段落！</p>
    </div>
    <div class="col-sm-4">
      <h3>第二列</h3>
      <p>排版样例文字，文字样例！</p>
      <p>格式模板，排版文字格式模板段落！</p>
    </div>
    <div class="col-sm-4">
      <h3>第三列</h3>
      <p>排版样例文字，文字样例！</p>
      <p>格式模板，排版文字格式模板段落！</p>
    </div>
  </div>

    <span class="badge">徽章</span>
    <span class="badge badge-danger">徽章</span>
    <span class="badge badge-dark">徽章</span>
    <span class="badge badge-primary">徽章</span>
    <span class="badge badge-success">徽章</span>
    <span class="badge badge-info">徽章</span>
    <span class="badge badge-warning">徽章</span><br/>

    <span class="label label-default">默认标签</span>
    <span class="label label-primary">主要标签</span>
    <span class="label label-success">成功标签</span>
    <span class="label label-info">信息标签</span>
    <span class="label label-warning">警告标签</span>
    <span class="label label-danger">危险标签</span>
    <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-user"></span> User
    </button>

</div>



{% endblock %}